body {
    background-image: url("https://wallpaperaccess.com/full/1732235.jpg");
    background-repeat: no-repeat;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
    background-size: cover;
    height: 100%;
    width: 100%;
}

.main {
    display: flexbox;
    font-style: italic;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    width: 100%;
    height: 100%;
}

#display {
    margin-top: 2%;
    margin-left: 33%;
    margin-right: 33%;
    display: block;
    font-weight: bolder;
    font-size: 300%;
    border: .5px dotted balck;
    color: indigo;
    justify-self: center;
    padding-right: 5%;
}

#push_input,
#stack {
    position: relative;
    align-self: flex-start;
    color: indigo;
    font-size: 200%;
    text-shadow: 0px 0px 10px rgb(11, 8, 185);
    padding-bottom: 1%;
}

#push_input {
    padding-right: 6%;
    font-size: 2rem;
}

#push-input {
    background-color: rgb(194, 239, 250);
    color: blue;
    text-align: center;
    font-size: 2rem;
    padding-bottom: 0.7%;
}

#stack {
    font-family: Arial, Helvetica, sans-serif;
    font-display: swap;
    font-size: 4rem;
    font-weight: bolder;
    color: indigo;
    margin-top: 3%;
    padding-right: 6%;
}

#size-stack {
    font-weight: bolder;
    padding-left: 50%;
    color: indigo;
    position: relative;
    text-align: center;
}

#size-input {
    justify-self: center;
    text-align: center;
    font-size: 2em;
    color: indigo;
    padding-top: 15px;
    padding-right: 25%;
    font-weight: 300;
    font-stretch: normal;
}

#temp {
    color: rgb(255, 68, 68);
    font-size: 3rem;
}

#push-btn,
#pop-btn,
#size-btn {
    background-color: #007af4;
    position: inherit;
    color: white;
    padding: 22px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 1.1rem;
    font-family: cursive;
    cursor: pointer;
    border-radius: 0.5em;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 0px 0px 10px rgb(22, 179, 226);
    text-shadow: 0px 0px 10px rgb(22, 179, 226);
}

#push-btn:hover,
#pop-btn:hover,
#size-btn:hover {
    background-color: white;
    color: black;
}